<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/controllers.js"></script> 
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<div class="main container container-fluid" ng-controller="MyController">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="header form-group"> <h2>Word Stats</h2>  </div>
            <div class="table-holder form-group"  ng-show="records">
                <table class="table table-bordered table-hover table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Word Count</th>
                        <th>Words Per Minute</th>
                        <th>Top Frequent Word</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<div class="no-items"></div>-->
                    <tr ng-repeat="(key,record) in records">
                        <td> {{key}}</td>
                        <td> {{record.wc}}</td>
                        <td> {{record.wpm}}</td>
                        <td> {{record.tfw}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="debug" ng-show="debug">
                <label for="text" >{{timer_value}}</label>
                <label for="text" >{{wpm_timer_value}}</label>
            </div>

            <div class="form-group">
                <div class="textarea form-control" ng-model="text_input" id="text" contenteditable
                     data-ph="Displays word statistics after 10 seconds of inactivity"
                     ng-change="change()">
                </div>
                <div class="footer submit-section">
                    <span>
                        <button type="button" class="btn" ng-disabled="timer_value < 1" ng-click="submitNow()"> Submit </button>
                    </span>
                    <span class="float-right">
                        <label ng-show="timer_value"> Submitting in {{10-timer_value}} </label>
                    </span>
                </div>
            </div>

            <div class="footer">
                <span class="btn-group">
                    <button type="button" class="btn btn-fixed" ng-click="share()"> Share </button>
                    <button type="button" class="btn disabled btn-fixed" > {{share_code}} </button>
                </span>
                <span class="btn-group float-right">
                    <input class="btn btn-outline-secondary btn-fixed" ng-model="load_code">  </input>
                    <button type="button" class="btn btn-fixed" ng-click="load()"> Load </button>
                </span>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
</body>
</html>
